/* Escribe tu css aqui */
div {
	box-sizing: border-box;
    background-color: #E7EE1D;
    padding: 8px 8px 8px 15px;
    margin: 10px;
    display: inline-block;
}
.lab {
	height: 30px;
	width: 100px;
}
.caja {
	background-color: red;
	height: 30px;
}
.trans {
    height: 30px;
	width: 180px;
}